.keyboard {
  display: flex;
  width: 50%;
  padding: 5px;
  /* box-shadow: inset 0 0 10px #000000; */
  /* background-color: #333; */
}

.white-key:first-child {
  border-radius: 4px 0 0 4px;
}

.white-key:last-child {
  border-radius: 0 4px 4px 0;
  border-right: 1px solid #8e8e8e;
}

.white-key {
  flex: 1 0 0%;
  border: 1px solid #8e8e8e;
  border-right: 0;
  height: 150px;
  box-shadow: 1px 4px 4px -2px #000;
}

.white-key__pressed {
  background: linear-gradient(#fff 33%, #eee);
  box-shadow: 0 2px 1px -1px;
}

.black-key {
  flex: none;
  background-color: #222;
  min-height: 66%;
  width: 66%;
  position: relative;
  top: 0;
  /* right: 0; */
  left: 66%;
  box-shadow: 0px 6px 5px -4px #000;
  border-radius: 1px 0 3px 3px;
}

.black-key__pressed {
  background: linear-gradient(#555 33%, #333);
  box-shadow: 0 3px 3px -2px #000;
}

