.synth {
  background-color: hsla(0, 0%, 23%, 0.8);
  width: 50%;
  border-radius: 3px;
}

.keyboard {
  width: 90%;
  padding: 7px 7px 2px 7px;
  background-color: #444;
  border-radius: 5px 5px 0 0;
  box-shadow: inset 1px 4px 2px #333;
  margin: 5px auto;
}

.keys-wrapper {
  display: flex;
  margin-bottom: 1px;
}

.white {
  height: 150px;
  flex: 1 0 0%;
  border: 1px solid #8e8e8e;
  margin-left: -3.25%;
  border-right: 0;
  box-shadow: 1px 4px 4px -2px #000;
  background-color: #eee;
}

.white:first-child {
  margin-left: 0;
  border-radius: 4px 0 0 4px;
}

.white:last-child {
  border-right: 1px solid black;
  border-radius: 0 4px 4px 0;
  border-right: 1px solid #8e8e8e;
}

.white + .white {
  margin-left: 0;
}

.white__pressed {
  background: linear-gradient(#eee 20%, #dedede);
  box-shadow: 0 2px 1px -1px;
}

.black {
  background-color: #222;
  width: 6.5%;
  height: 100px;
  margin-left: -3.25%;
  z-index: 40;
  /* box-shadow: 0px 6px 5px -4px #000; */
  box-shadow: 0px 6px 5px -4px #000;
  border-radius: 1px 0 3px 3px;
}

.black__pressed {
  background: linear-gradient(#555 33%, #333);
  box-shadow: 0 3px 3px -2px #000;
}

.octave-select__wrapper {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto;
}

.octave-select {
  display: flex;
  color: #eee;
  justify-content: space-between;
  width: 70%;
  background-color: #353535;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: inset 3px 3px 3px #111;
  margin-top: 5px;
  vertical-align: top;
}

.octave-select label {
  color: #888;
}

.octave-select label.current {
  color: #fff;
  /* font-weight: bold; */
  text-shadow: 0px 0px 5px #ddd;
}

.octave-select input[type="radio"] {
  display: none;
}
