body button:focus {
  outline: none;
}

.layout {
  display: grid;
  place-items: center;
  height: 100vh;
  background: linear-gradient(to bottom right, #cdcdcd, #fff 30% 60%, #cdcdcd);
}

.synth {
  width: 64rem;
  /* min-width: 640px; */
  border-radius: 3px;
  box-shadow: 2px 4px 5px;
  background: linear-gradient(180deg, hsla(0, 0%, 23%, 0.8), #444);
}

.params {
  /* border: 1px solid #ddd; */
  box-shadow: inset 1px 0px 3px;
  background-color: #444;
  border-radius: 4px;
  min-height: 250px;
  margin: 0 1.2rem;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 130px 120px;
}

.analyzer {
  display: flex;
  grid-column: 2 / 3;
  grid-row: 1 / 1;
  justify-self: stretch;
  background-color: #222;
  /* width: 90%; */
  /* min-height: 200px; */
  margin: 8px 4px 4px 4px;
  border-radius: 4px;
}

.heading {
  color: #eee;
  font-family: Fira Code;
  margin: 0;
  padding: 2px 10px;
  font-weight: normal;
  font-size: 16px;
}
.item-2 {
  grid-column: 2 / 4;
  grid-row-start: 2;
  justify-self: stretch;
  border: 1px solid #888;
  margin: 4px 8px 8px 4px;
  border-radius: 4px;
}

.oscillator-group {
  grid-column: 1 / 1;
  grid-row: 1 / 4;
  /* border: 1px solid #777; */
  justify-self: stretch;
  margin: 8px 4px 8px 8px;
  /* border-radius: 4px; */
  background-color: #444;
  /* box-shadow: 1px 1px 2px 1px #111; */
  display: flex;
}

.keyboard {
  width: 75%;
  padding: 7px 7px 2px 7px;
  background-color: #444;
  border-radius: 5px 5px 0 0;
  box-shadow: inset 2px 2px 2px #333;
  margin: 2px auto 0px auto;
}

.keys-wrapper {
  display: flex;
  /* margin-bottom: 1px; */
}

.white {
  height: 120px;
  flex: 1 0 0%;
  border: 1px solid #8e8e8e;
  margin-left: -3.25%;
  border-right: 0;
  box-shadow: 1px 4px 4px -2px #000;
  background-color: #eee;
}

.white:first-child {
  margin-left: 0;
  border-radius: 4px 0 0 4px;
}

.white:last-child {
  border-right: 1px solid black;
  border-radius: 0 4px 4px 0;
  border-right: 1px solid #8e8e8e;
}

.white + .white {
  margin-left: 0;
}

.white__pressed {
  background: linear-gradient(#eee 20%, #dedede);
  box-shadow: 0 2px 1px -1px;
}

.black {
  background-color: #222;
  width: 6.5%;
  height: 80px;
  margin-left: -3.25%;
  z-index: 40;
  /* box-shadow: 0px 6px 5px -4px #000; */
  box-shadow: 0px 6px 5px -4px #000;
  border-radius: 1px 0 3px 3px;
  border-width: 0;
}

.black__pressed {
  background: linear-gradient(#555 33%, #333);
  box-shadow: 0 3px 3px -2px #000;
}

.octave-select__wrapper {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: 2px auto;
}

.octave-select {
  display: flex;
  color: #eee;
  justify-content: space-between;
  width: 70%;
  background-color: #353535;
  padding: 5px 20px;
  border-radius: 5px;
  box-shadow: inset 2px 2px 2px #111;
  margin-top: 2px;
  vertical-align: top;
}

/* .octave-select label, */
.wave-modifier label {
  color: #aaa;
  /* padding: 2px 4px; */
  padding: 0.4rem;
}

fieldset {
  all: unset;
}

.osc-select__wrapper {
  position: relative;
  border: 1px solid #0000;
  border-top: 1px solid #222;
  border-bottom: none;
  /* border-color: #222; */
  /* border-bottom: 0px; */
  /* background-color: #555; */
}

.osc-select__wrapper:first-child {
  /* border-radius: 5px 5px 0 0; */
  border: 1px solid #0000;
  border-bottom: none;
  /* border-bottom: 0px; */
}
.osc-select__wrapper:last-child {
  border-radius: 0 0 5px 5px;
  border-bottom: 1px solid #0000;
}

.octave-select label.current,
.osc-box:checked + label {
  color: #fff;
  /* font-weight: bold; */
  /* border: 1px solid ; */
  text-shadow: 0px 0px 1px #fffb;
  box-shadow: inset 0px 0px 3px 0px #111;
  background-color: #444;
}

.octave-select input[type="radio"],
.wave-modifier input[type="checkbox"] {
  /* position: absolute;
  opacity: 0;
  width: 100%; */
  /* height: 100%; */
  all: unset;
  position: absolute;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.parameter-label {
  font-size: 12px;
  color: #eee;
  font-family: "Fira Code";
  /* padding: 4px 8px; */
  padding: 0.4rem;
  text-align: center;
  margin: 0;
}

.wave-modifier {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* background-color: #555; */
  /* border-radius: 4px; */
  /* box-shadow: inset 0px 0px 3px 1px #222; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* flex-direction: column; */
  background-color: #5559;
  /* border-radius: 4px; */
  width: 4rem;
  box-shadow: inset 0px 0px 4px 0px #111;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: hidden;
}

/* .wave-modifier:first-child {
  border: 1px solid white;
} */

.wave-modifier label {
  display: block;
  padding: 0.4rem;
  text-align: center;
}

.knob {
  display: flex;
  width: 5rem;
  flex-direction: column;
  color: #ccc;
  padding: 0rem 1rem;
}

.knob-label {
  background-color: #333;
  border-radius: 4px;
  align-self: center;
  padding: 0.2rem 0.7rem;
  font-family: "Fira Code";
  font-size: 1.2rem;
}
.waveform-button {
  background-color: #333;
  width: 6rem;
  height: 6rem;
  border-radius: 999999px;
  border: 1px solid #888;
}
.waveform-button__wrapper {
  background-color: #333;
  padding: 0.5rem;
  width: fit-content;
  height: fit-content;
  border-radius: 999999px;
  margin: 0.5rem;
  box-shadow: inset 0 0 4px 2px #1118;
  margin-top: 2rem;
}
